
@font-face {
    font-family: "alkatra";
    src: url(./assets/Alkatra-VariableFont_wght.ttf);
}

#root {
    font-family: "alkatra";
}

/*orineoi

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    align-self: flex-start;
    font-family: "alkatra";
}

.subtitle {
    font-size: 1rem;
    align-self: flex-start;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
    font-family: "alkatra";
}

.profilePicArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem 0
}

.profilePicArea > input {
    color: white;
    align-self: flex-start;
}

.login, .signup {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 0.75rem;
}

.signup > input, textarea, .resetSection > input{
    font-family: "alkatra";
    color: black;
    border: 1px solid black;
    border-radius: 2.5%;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}


.submitBtn { 
    color: white;
    background-color: black;
    border:  none;
    font-family: "alkatra";
    border-radius: 5%;
    font-size: 1.25rem;
}

.resetSection {
    display: flex;
    flex-direction: column;
}

.resetSection > button {
    background-color: white;
    border: none;
    align-self: flex-end;
    font-family: "alkatra";
}

.submitBtn:active {
    color: black;
    background-color: white;
    transition: ease-in-out;
    border: 3px solid black
}

.errorMessage {
    color: red;
    text-align: center
}

.redirect {
    padding-top: 0.5rem;
    color: rgb(54, 54, 54);
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#arrow {
    align-self: flex-start;
    height: 40px;
    width: 40px;
}

.profileContainer > .username {
    font-size: 1.75rem;
    text-align: center;
}

.profileImage{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.stats{
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
}

 .stats > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.stats > div > p {
    z-index: 1000;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: aliceblue;
}

.lined-subtitle {
    display: flex;
    width: 95vw;
    align-items: center;
}

.short-line {
    height: 0.3rem;
    width: 12.5%;
    margin-right: 2.5%;
    background-color: black;
}

.line {
    height: 0.3rem;
    width: auto;
    background-color: black;
    margin-left: 2.5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
}

.mainIcon {
    height: 5rem;
}

.mainLogo {
    width: 50%;
    position: relative;
    left: 4%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.App {
    min-height: 100vh;
    position: relative;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera {
    position: relative;
}

.trigger {
    position: relative;
    top: 90%
}

.result {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.90);
    transition: 0.4s;
}

.result.hasPhoto {
    left: 0;
}

video {
    height: auto;
    max-height: 100%;
    width: 100%;
}

button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    
    appearance: none;
    border: none;
    outline: none;

    padding: 8px 16px;
    background-image: linear-gradient(to
    right, black 50%,white black 50%);
    background-position: 0%;
    background-size: 200%;
    color: black;
    font-size: 24px;
    font-weight: 700;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    background-position: 100%;
}

*/

.addPostLogo { 
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(328deg) brightness(104%) contrast(101%);
    height: 4em;
    width: 4rem;
    position: absolute;
    bottom: 20px;;
    right: 20px;
}